/* Header Styles */

header {
    padding: 1rem 7% 0rem;
    background: rgb(18, 34, 59);
}

.header-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}


/* When header becomes sticky (scrolled down) */

.elementor-sticky--active {
    background-color: rgb(18, 34, 59);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* When header is hidden (scrolling down) */

.elementor-sticky--hide {
    transform: translateY(-100%);
}

.top-bar {
    color: white;
    padding: 0.5rem 0% 1rem 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-info span {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a i {
    color: #fff;
}


/* Navigation Styles */

.nav-container {
    /* background: rgba(0, 0, 0, 0.9); */
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-top: 1px solid rgb(251, 171, 24);
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo img {
    max-width: 10rem;
    height: auto;
}

.logo.mobile {
    display: none;
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}


/* .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 0.5rem 0;
}

.nav-links a:hover {
    border-bottom: 2px solid rgb(251, 171, 24);
} */

.nav-links a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    /* Điều chỉnh khoảng cách giữa text và underline */
    width: 0;
    height: 2px;
    background-color: rgb(251, 171, 24);
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links .track-order:hover::after {
    width: 0% !important;
}


/* Dropdown menu */

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 102%;
    left: 0;
    background: white;
    border-radius: 5px;
    padding: 10px;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: bg 0.3s ease;
}

.dropdown-menu a:hover {
    color: rgb(251, 171, 24);
}

.dropdown a i {
    padding-left: 0.3rem;
}


/* Hiển thị menu khi hover */

.dropdown:hover .dropdown-menu {
    display: block;
}


/* Nút "Liên hệ" */

.track-order {
    background: rgb(251, 171, 24);
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.track-order:hover {
    border-bottom: none !important;
    background: #f4511e;
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    /* header {
    position: fixed;
    inset: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.051);
  } */
    .logo.mobile {
        display: block;
    }
    /* .overplay {
        display: none;
    } */
    /* .overplay {} */
    .freight-section {
        padding: 1.5rem 1rem !important;
    }
    .freight-section .image-wrapper {
        display: none;
    }
    .freight-section .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }
    .freight-section .section-title {
        text-align: center;
        margin-top: 2rem;
    }
    .top-bar {
        display: none;
    }
    .section-map {
        padding: 1.5rem 1rem !important;
    }
    .contact-info,
    .social-icons {
        width: 100%;
        justify-content: center;
        margin: 5px 0;
    }
    .nav-links {
        display: none;
    }
    .mobile-menu-btn {
        display: block;
    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0%;
        left: -10%;
        right: 0;
        bottom: 0;
        background: white;
        justify-content: start;
        padding: 20px 0 20px 6rem;
        width: 70% !important;
        align-items: start;
        height: 100vh;
    }
    .nav-links.active a {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .nav-links.active a {
        color: rgb(18, 34, 59) !important;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    .transport-types {
        font-size: 1.5rem;
    }
}


/* Ẩn menu trên mobile */

.nav-links {
    display: flex;
    gap: 20px;
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}


/* Mobile styles */

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 83px;
        left: -9%;
        width: 117%;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        padding: 20px;
        display: none;
        text-align: center;
    }
    .nav-links.open {
        display: flex;
    }
    .mobile-menu-btn {
        display: block;
    }
}